<a href="https://colab.research.google.com/github/aresssera/frictionless/blob/main/test_frictionless.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install frictionless

Collecting frictionless
  Downloading frictionless-5.16.0-py3-none-any.whl (310 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.5/310.5 kB 706.1 kB/s eta 0:00:00
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from frictionless) (23.1.0)
Requirement already satisfied: chardet>=3.0 in /usr/local/lib/python3.10/dist-packages (from frictionless) (5.2.0)
Requirement already satisfied: humanize>=4.2 in /usr/local/lib/python3.10/dist-packages (from frictionless) (4.7.0)
Collecting isodate>=0.6 (from frictionless)
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from frictionless) (3.1.2)
Collecting jsonschema<4.18 (from frictionless)
  Downloading jsonschema-4.17.3-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.4/90.4 kB 5.3 MB/s eta 0:00:00
Collecting marko>=1.0 (from frictionless)
  Downloading marko-2.0.2-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.7/42.7 kB 3.9 MB/s eta 0:00:00
Collecting petl>=1.6 (from frictionless)
  Downloading petl-1.7.14.tar.gz (411 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 411.7/411.7 kB 18.6 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting pydantic>=2.0 (from frictionless)
  Downloading pydantic-2.5.3-py3-none-any.whl (381 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.9/381.9 kB 38.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8 in /usr/local/lib/python3.10/dist-packages (from frictionless) (2.8.2)
Requirement already satisfied: python-slugify>=1.2 in /usr/local/lib/python3.10/dist-packages (from frictionless) (8.0.1)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from frictionless) (6.0.1)
Requirement already satisfied: requests>=2.10 in /usr/local/lib/python3.10/dist-packages (from frictionless) (2.31.0)
Collecting rfc3986>=1.4 (from frictionless)
  Downloading rfc3986-2.0.0-py2.py3-none-any.whl (31 kB)
Collecting simpleeval>=0.9.11 (from frictionless)
  Downloading simpleeval-0.9.13-py2.py3-none-any.whl (15 kB)
Collecting stringcase>=1.2 (from frictionless)
  Downloading stringcase-1.2.0.tar.gz (3.0 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: tabulate>=0.8.10 in /usr/local/lib/python3.10/dist-packages (from frictionless) (0.9.0)
Requirement already satisfied: typer[all]>=0.5 in /usr/local/lib/python3.10/dist-packages (from frictionless) (0.9.0)
Requirement already satisfied: typing-extensions>=4.3 in /usr/local/lib/python3.10/dist-packages (from frictionless) (4.5.0)
Collecting validators>=0.18 (from frictionless)
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate>=0.6->frictionless) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=3.0->frictionless) (2.1.3)
Collecting pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 (from jsonschema<4.18->frictionless)
  Downloading pyrsistent-0.20.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.7/117.7 kB 15.7 MB/s eta 0:00:00
Collecting annotated-types>=0.4.0 (from pydantic>=2.0->frictionless)
  Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Collecting pydantic-core==2.14.6 (from pydantic>=2.0->frictionless)
  Downloading pydantic_core-2.14.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 54.3 MB/s eta 0:00:00
Collecting typing-extensions>=4.3 (from frictionless)
  Using cached typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify>=1.2->frictionless) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10->frictionless) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10->frictionless) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10->frictionless) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10->frictionless) (2023.11.17)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.10/dist-packages (from typer[all]>=0.5->frictionless) (8.1.7)
Collecting colorama<0.5.0,>=0.4.3 (from typer[all]>=0.5->frictionless)
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting shellingham<2.0.0,>=1.3.0 (from typer[all]>=0.5->frictionless)
  Downloading shellingham-1.5.4-py2.py3-none-any.whl (9.8 kB)
Requirement already satisfied: rich<14.0.0,>=10.11.0 in /usr/local/lib/python3.10/dist-packages (from typer[all]>=0.5->frictionless) (13.7.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich<14.0.0,>=10.11.0->typer[all]>=0.5->frictionless) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich<14.0.0,>=10.11.0->typer[all]>=0.5->frictionless) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich<14.0.0,>=10.11.0->typer[all]>=0.5->frictionless) (0.1.2)
Building wheels for collected packages: petl, stringcase
  Building wheel for petl (pyproject.toml) ... done
  Created wheel for petl: filename=petl-1.7.14-py3-none-any.whl size=229730 sha256=7853b5e6dadad0c15295dcb43036754e7f3ac1debba26d1f412f5cd41433b831
  Stored in directory: /root/.cache/pip/wheels/65/d2/2c/655203aaf0c828a0b7481dfc3354814dd1b864f4c4b0a413a7
  Building wheel for stringcase (setup.py) ... done
  Created wheel for stringcase: filename=stringcase-1.2.0-py3-none-any.whl size=3569 sha256=64e18b3a71df92c5fef7309396ae91eb2385f59e0c49228f24f0436128e2132c
  Stored in directory: /root/.cache/pip/wheels/31/ba/22/1a2d952a9ce8aa86e42fda41e2c87fdaf20e238c88bf8df013
Successfully built petl stringcase
Installing collected packages: stringcase, simpleeval, validators, typing-extensions, shellingham, rfc3986, pyrsistent, petl, marko, isodate, colorama, annotated-types, pydantic-core, jsonschema, pydantic, frictionless
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.5.0
    Uninstalling typing_extensions-4.5.0:
      Successfully uninstalled typing_extensions-4.5.0
  Attempting uninstall: jsonschema
    Found existing installation: jsonschema 4.19.2
    Uninstalling jsonschema-4.19.2:
      Successfully uninstalled jsonschema-4.19.2
  Attempting uninstall: pydantic
    Found existing installation: pydantic 1.10.13
    Uninstalling pydantic-1.10.13:
      Successfully uninstalled pydantic-1.10.13
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
llmx 0.0.15a0 requires cohere, which is not installed.
llmx 0.0.15a0 requires openai, which is not installed.
llmx 0.0.15a0 requires tiktoken, which is not installed.
tensorflow-probability 0.22.0 requires typing-extensions<4.6.0, but you have typing-extensions 4.9.0 which is incompatible.
Successfully installed annotated-types-0.6.0 colorama-0.4.6 frictionless-5.16.0 isodate-0.6.1 jsonschema-4.17.3 marko-2.0.2 petl-1.7.14 pydantic-2.5.3 pydantic-core-2.14.6 pyrsistent-0.20.0 rfc3986-2.0.0 shellingham-1.5.4 simpleeval-0.9.13 stringcase-1.2.0 typing-extensions-4.9.0 validators-0.22.0

In [2]:
from frictionless import validate
from frictionless import Schema
import requests     # 2.18.4
import json         # 2.0.9
import pandas as pd # 0.23.0
import numpy as np
import os
import frictionless
import ast
import re
from urllib.request import Request, urlopen, urlretrieve
from bs4 import BeautifulSoup

In [ ]:
import csv

with open("ogd102_fuellstand_gasspeicher.csv", 'r') as file:
  csvreader = csv.reader(file)

In [ ]:
file = open('ogd102_fuellstand_gasspeicher.csv')
file

In [3]:
frame = pd.read_csv('ogd102_fuellstand_gasspeicher.csv')
frame

           Datums Speicherregion  Speicherstand_TWh  Lagerkapazitaet_prozent
0      2011-01-01        Austria              22.65                    55.83
1      2011-01-01             EU             440.39                    71.32
2      2011-01-01         France              17.83                    55.50
3             sfd            sdf                NaN                      NaN
4      2011-01-01          Italy             126.47                    80.13
...           ...            ...                ...                      ...
23727  2023-12-31        Austria              90.74                    92.93
23728  2023-12-31             EU             985.78                    86.51
23729  2023-12-31         France             112.29                    83.58
23730  2023-12-31        Germany             231.96                    91.02
23731  2023-12-31          Italy             160.83                    81.65

[23732 rows x 4 columns]

In [4]:
# convert dictionary schema into frictionless schema object
schema = Schema({'fields': [{'name': 'Datum', 'type': 'date', 'format': 'default', 'title@de': 'Datum', 'title@fr': '', 'description@de': '', 'description@fr': ''}, {'name': 'Speicherregion', 'type': 'string', 'format': 'default', 'title@de': 'Speicherregion', 'title@fr': '', 'description@de': '', 'description@fr': ''}, {'name': 'Speicherstand_TWh', 'type': 'number', 'format': 'default', 'title@de': 'Speicherstand_TWh', 'title@fr': '', 'description@de': '', 'description@fr': ''}, {'name': 'Lagerkapazitaet_prozent', 'type': 'number', 'format': 'default', 'title@de': 'Lagerkapazitaet_prozent', 'title@fr': '', 'description@de': '', 'description@fr': ''}]})

# perform validation using schema matched to uploaded file
report = validate(frame, schema=schema)
report

{'valid': False,
 'stats': {'tasks': 1, 'errors': 2, 'warnings': 0, 'seconds': 6.892},
 'warnings': [],
 'errors': [],
 'tasks': [{'name': 'memory',
            'type': 'table',
            'valid': False,
            'place': '<memory>',
            'labels': ['Datums',
                       'Speicherregion',
                       'Speicherstand_TWh',
                       'Lagerkapazitaet_prozent'],
            'stats': {'errors': 2,
                      'warnings': 0,
                      'seconds': 6.892,
                      'fields': 4,
                      'rows': 23732},
            'warnings': [],
            'errors': [{'type': 'incorrect-label',
                        'title': 'Incorrect Label',
                        'description': 'One of the data source header does not '
                                       'match the field name defined in the '
                                       'schema.',
                        'message': 'Label "Datums" in field Datum at position '
                                   '"1" does not match the field name in the '
                                   'schema',
                        'tags': ['#table', '#header', '#label'],
                        'note': '',
                        'labels': ['Datums',
                                   'Speicherregion',
                                   'Speicherstand_TWh',
                                   'Lagerkapazitaet_prozent'],
                        'rowNumbers': [1],
                        'label': 'Datums',
                        'fieldName': 'Datum',
                        'fieldNumber': 1},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "sfd" in row "5" '
                                   'and field "Datum" at position "1": type is '
                                   '"date/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "date/default"',
                        'cells': ['sfd', ' sdf', 'nan', 'nan'],
                        'rowNumber': 5,
                        'cell': 'sfd',
                        'fieldName': 'Datum',
                        'fieldNumber': 1}]}]}

In [23]:
text = ''

for err in report.tasks[0].errors:
  text = text + err.title + '\n' + err.message + '\n\n'

In [24]:
print(text)

Incorrect Label
Label "Datums" in field Datum at position "1" does not match the field name in the schema

Type Error
Type error in the cell "sfd" in row "5" and field "Datum" at position "1": type is "date/default"

------------------------------------

In [29]:
df = pd.read_csv('ogd105_heizgradtage.csv')
df

     Jahr  Monat  Heizgradtage
0    1994      1         540.6
1    1994      2         493.9
2    1994      3         312.7
3    1994      4         351.9
4    1994      5          84.9
..    ...    ...           ...
354  2023      7           1.6
355  2023      8           8.8
356  2023      9          12.6
357  2023     10         130.8
358  2023     11         419.0

[359 rows x 3 columns]

In [31]:
# Select columns of type 'int' or 'float'
df_num = df.select_dtypes(include=['int', 'float'])
df_num.dtypes

Jahr              int64
Monat             int64
Heizgradtage    float64
dtype: object

In [32]:
# convert dictionary schema into frictionless schema object
schema = Schema({'fields': [{'name': 'Jahr',

             'type': 'year',

             'format': 'default',

             'title@de': 'Jahr',

             'title@fr': 'Année',

             'description@de': 'Jahr',

             'description@fr': 'Année'},

            {'name': 'Monat',

             'type': 'integer',

             'format': 'default',

             'constraints': {'minimum': '1', 'maximum': '12'},

             'title@de': 'Monat',

             'title@fr': 'Mois',

             'description@de': 'Monat',

             'description@fr': 'Mois'},

            {'name': 'Heizgradtage',

             'type': 'number',

             'format': 'default',

             'title@de': 'Heizgradtage',

             'title@fr': 'Degrés-jours de chauffage',

             'description@de': 'Heizgradtage',

             'description@fr': 'Degrés-jours de chauffage'}]})



# perform validation using schema matched to uploaded file
report = validate(frame, schema=schema)
report

{'valid': False,
 'stats': {'tasks': 1, 'errors': 1000, 'warnings': 1, 'seconds': 0.203},
 'warnings': [],
 'errors': [],
 'tasks': [{'name': 'memory',
            'type': 'table',
            'valid': False,
            'place': '<memory>',
            'labels': ['Datums',
                       'Speicherregion',
                       'Speicherstand_TWh',
                       'Lagerkapazitaet_prozent'],
            'stats': {'errors': 1000,
                      'warnings': 1,
                      'seconds': 0.203,
                      'fields': 3,
                      'rows': 332},
            'warnings': ['reached error limit: 1000'],
            'errors': [{'type': 'extra-label',
                        'title': 'Extra Label',
                        'description': 'The header of the data source contains '
                                       'label that does not exist in the '
                                       'provided schema.',
                        'message': 'There is an extra label "" in header at '
                                   'position "4"',
                        'tags': ['#table', '#header', '#label'],
                        'note': '',
                        'labels': ['Datums',
                                   'Speicherregion',
                                   'Speicherstand_TWh',
                                   'Lagerkapazitaet_prozent'],
                        'rowNumbers': [1],
                        'label': '',
                        'fieldName': '',
                        'fieldNumber': 4},
                       {'type': 'incorrect-label',
                        'title': 'Incorrect Label',
                        'description': 'One of the data source header does not '
                                       'match the field name defined in the '
                                       'schema.',
                        'message': 'Label "Datums" in field Jahr at position '
                                   '"1" does not match the field name in the '
                                   'schema',
                        'tags': ['#table', '#header', '#label'],
                        'note': '',
                        'labels': ['Datums',
                                   'Speicherregion',
                                   'Speicherstand_TWh',
                                   'Lagerkapazitaet_prozent'],
                        'rowNumbers': [1],
                        'label': 'Datums',
                        'fieldName': 'Jahr',
                        'fieldNumber': 1},
                       {'type': 'incorrect-label',
                        'title': 'Incorrect Label',
                        'description': 'One of the data source header does not '
                                       'match the field name defined in the '
                                       'schema.',
                        'message': 'Label "Speicherregion" in field Monat at '
                                   'position "2" does not match the field name '
                                   'in the schema',
                        'tags': ['#table', '#header', '#label'],
                        'note': '',
                        'labels': ['Datums',
                                   'Speicherregion',
                                   'Speicherstand_TWh',
                                   'Lagerkapazitaet_prozent'],
                        'rowNumbers': [1],
                        'label': 'Speicherregion',
                        'fieldName': 'Monat',
                        'fieldNumber': 2},
                       {'type': 'incorrect-label',
                        'title': 'Incorrect Label',
                        'description': 'One of the data source header does not '
                                       'match the field name defined in the '
                                       'schema.',
                        'message': 'Label "Speicherstand_TWh" in field '
                                   'Heizgradtage at position "3" does not '
                                   'match the field name in the schema',
                        'tags': ['#table', '#header', '#label'],
                        'note': '',
                        'labels': ['Datums',
                                   'Speicherregion',
                                   'Speicherstand_TWh',
                                   'Lagerkapazitaet_prozent'],
                        'rowNumbers': [1],
                        'label': 'Speicherstand_TWh',
                        'fieldName': 'Heizgradtage',
                        'fieldNumber': 3},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "2011-01-01" in row '
                                   '"2" and field "Jahr" at position "1": type '
                                   'is "year/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "year/default"',
                        'cells': ['2011-01-01', 'Austria', '22.65', '55.83'],
                        'rowNumber': 2,
                        'cell': '2011-01-01',
                        'fieldName': 'Jahr',
                        'fieldNumber': 1},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "Austria" in row '
                                   '"2" and field "Monat" at position "2": '
                                   'type is "integer/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "integer/default"',
                        'cells': ['2011-01-01', 'Austria', '22.65', '55.83'],
                        'rowNumber': 2,
                        'cell': 'Austria',
                        'fieldName': 'Monat',
                        'fieldNumber': 2},
                       {'type': 'extra-cell',
                        'title': 'Extra Cell',
                        'description': 'This row has more values compared to '
                                       'the header row (the first row in the '
                                       'data source). A key concept is that '
                                       'all the rows in tabular data must have '
                                       'the same number of columns.',
                        'message': 'Row at position "2" has an extra value in '
                                   'field at position "4"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': '',
                        'cells': ['2011-01-01', 'Austria', '22.65', '55.83'],
                        'rowNumber': 2,
                        'cell': '55.83',
                        'fieldName': '',
                        'fieldNumber': 4},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "2011-01-01" in row '
                                   '"3" and field "Jahr" at position "1": type '
                                   'is "year/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "year/default"',
                        'cells': ['2011-01-01', 'EU', '440.39', '71.32'],
                        'rowNumber': 3,
                        'cell': '2011-01-01',
                        'fieldName': 'Jahr',
                        'fieldNumber': 1},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "EU" in row "3" and '
                                   'field "Monat" at position "2": type is '
                                   '"integer/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "integer/default"',
                        'cells': ['2011-01-01', 'EU', '440.39', '71.32'],
                        'rowNumber': 3,
                        'cell': 'EU',
                        'fieldName': 'Monat',
                        'fieldNumber': 2},
                       {'type': 'extra-cell',
                        'title': 'Extra Cell',
                        'description': 'This row has more values compared to '
                                       'the header row (the first row in the '
                                       'data source). A key concept is that '
                                       'all the rows in tabular data must have '
                                       'the same number of columns.',
                        'message': 'Row at position "3" has an extra value in '
                                   'field at position "4"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': '',
                        'cells': ['2011-01-01', 'EU', '440.39', '71.32'],
                        'rowNumber': 3,
                        'cell': '71.32',
                        'fieldName': '',
                        'fieldNumber': 4},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "2011-01-01" in row '
                                   '"4" and field "Jahr" at position "1": type '
                                   'is "year/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "year/default"',
                        'cells': ['2011-01-01', 'France', '17.83', '55.5'],
                        'rowNumber': 4,
                        'cell': '2011-01-01',
                        'fieldName': 'Jahr',
                        'fieldNumber': 1},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "France" in row "4" '
                                   'and field "Monat" at position "2": type is '
                                   '"integer/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "integer/default"',
                        'cells': ['2011-01-01', 'France', '17.83', '55.5'],
                        'rowNumber': 4,
                        'cell': 'France',
                        'fieldName': 'Monat',
                        'fieldNumber': 2},
                       {'type': 'extra-cell',
                        'title': 'Extra Cell',
                        'description': 'This row has more values compared to '
                                       'the header row (the first row in the '
                                       'data source). A key concept is that '
                                       'all the rows in tabular data must have '
                                       'the same number of columns.',
                        'message': 'Row at position "4" has an extra value in '
                                   'field at position "4"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': '',
                        'cells': ['2011-01-01', 'France', '17.83', '55.5'],
                        'rowNumber': 4,
                        'cell': '55.5',
                        'fieldName': '',
                        'fieldNumber': 4},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "sfd" in row "5" '
                                   'and field "Jahr" at position "1": type is '
                                   '"year/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "year/default"',
                        'cells': ['sfd', ' sdf', 'nan', 'nan'],
                        'rowNumber': 5,
                        'cell': 'sfd',
                        'fieldName': 'Jahr',
                        'fieldNumber': 1},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell " sdf" in row "5" '
                                   'and field "Monat" at position "2": type is '
                                   '"integer/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "integer/default"',
                        'cells': ['sfd', ' sdf', 'nan', 'nan'],
                        'rowNumber': 5,
                        'cell': ' sdf',
                        'fieldName': 'Monat',
                        'fieldNumber': 2},
                       {'type': 'extra-cell',
                        'title': 'Extra Cell',
                        'description': 'This row has more values compared to '
                                       'the header row (the first row in the '
                                       'data source). A key concept is that '
                                       'all the rows in tabular data must have '
                                       'the same number of columns.',
                        'message': 'Row at position "5" has an extra value in '
                                   'field at position "4"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': '',
                        'cells': ['sfd', ' sdf', 'nan', 'nan'],
                        'rowNumber': 5,
                        'cell': 'nan',
                        'fieldName': '',
                        'fieldNumber': 4},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "2011-01-01" in row '
                                   '"6" and field "Jahr" at position "1": type '
                                   'is "year/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "year/default"',
                        'cells': ['2011-01-01', 'Italy', '126.47', '80.13'],
                        'rowNumber': 6,
                        'cell': '2011-01-01',
                        'fieldName': 'Jahr',
                        'fieldNumber': 1},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "Italy" in row "6" '
                                   'and field "Monat" at position "2": type is '
                                   '"integer/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "integer/default"',
                        'cells': ['2011-01-01', 'Italy', '126.47', '80.13'],
                        'rowNumber': 6,
                        'cell': 'Italy',
                        'fieldName': 'Monat',
                        'fieldNumber': 2},
                       {'type': 'extra-cell',
                        'title': 'Extra Cell',
                        'description': 'This row has more values compared to '
                                       'the header row (the first row in the '
                                       'data source). A key concept is that '
                                       'all the rows in tabular data must have '
                                       'the same number of columns.',
                        'message': 'Row at position "6" has an extra value in '
                                   'field at position "4"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': '',
                        'cells': ['2011-01-01', 'Italy', '126.47', '80.13'],
                        'rowNumber': 6,
                        'cell': '80.13',
                        'fieldName': '',
                        'fieldNumber': 4},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "2011-01-02" in row '
                                   '"7" and field "Jahr" at position "1": type '
                                   'is "year/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "year/default"',
                        'cells': ['2011-01-02', 'Austria', '22.52', '55.5'],
                        'rowNumber': 7,
                        'cell': '2011-01-02',
                        'fieldName': 'Jahr',
                        'fieldNumber': 1},
                       {'type': 'type-error',
                        'title': 'Type Error',
                        'description': 'The value does not match the schema '
                                       'type and format for this field.',
                        'message': 'Type error in the cell "Austria" in row '
                                   '"7" and field "Monat" at position "2": '
                                   'type is "integer/default"',
                        'tags': ['#table', '#row', '#cell'],
                        'note': 'type is "integer/default"',
                        'cells': ['2011-01-02', 'Austria', '22.52', '55.5'],
                        'rowNumber': 7,
                        'cell': 'Austria',
                        'fieldName': 'Monat',
                        'fieldNumber': 2},
                       {'type': 'extra-cell',
                        'title': 'Extra Cell',
                        'description': 'This row has more values compared to '
                                       'the header row (the first row in the '
                                       'data source). A key concept is that '
                                       'all the rows in tabular data must have '
                                       'the same number of columns.',
                        'message': 'Row at position "7" has an extra value in '
                                   'field at position "4"',